*.class
.metadata
CompilerFrontend/bin
CompilerFrontend/gen
CompilerFrontend/dist
Frontend/java/edu/tum/lua/parser
Frontend/classes
Frontend/bin

Frontend/testoutput/*

Interpreter/testoutput/*

# Package Files #
*.war
*.ear
    
/Interpreter/crash.lua~
/Frontend/testinput/lua5.1-tests/sort.lua~
